@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  overflow: auto;
  padding: 20px 0;
}
.nav__container {
  margin: auto;
  max-width: 1300px;
  overflow: auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__container img {
  width: 150px;
}
.nav__container ul {
  font-size: 1em;
  font-weight: 500;
  list-style: none;
  display: inline-flex;
  gap: 1.5rem;
}
.nav__container ul a {
  color: #ffffff;
}
.nav__container ul a:hover {
  color: #ff8533;
  transition: all 0.3s ease-out;
}
@media (max-width: 590px) {
  .nav__container {
    flex-direction: column;
    gap: 10px;
    padding: 0 10px;
  }
  .nav__container img {
    width: 150px;
  }
}
@media (max-width: 450px) {
  .nav__container {
    gap: 25px;
  }
  .nav__container ul {
    font-size: 0.9em;
    gap: 0.5rem;
  }
}

form label {
  display: inline-block;
  margin-bottom: 6px;
  color: #000;
}
form .form-group {
  margin-bottom: 16px;
}
form .form-control {
  width: 100%;
  padding: 7px 12px;
  font-size: 1rem;
  border-radius: 15px;
}

.btn {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  font-size: 14px;
  padding: 12px 40px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 10px;
}

.btn-dark {
  background: #ff8533;
  border: none;
  opacity: 90%;
  color: #000;
}
.btn-dark:hover {
  opacity: 100%;
  transition: all 0.3s ease-out;
}

html,
body {
  font-family: "Roboto Mono", monospace;
  color: #000000;
}

h1 {
  font-size: 4rem;
  letter-spacing: -2px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 1.3em;
}

h2 {
  font-size: 2.2rem;
  letter-spacing: -2px;
  font-weight: 500;
}

h4 {
  font-size: 1rem;
  font-weight: 300;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7em;
}

a {
  text-decoration: none;
}

.container {
  margin: auto;
  max-width: 1300px;
  overflow: auto;
  padding: 0 20px;
}

.text-span {
  color: #e56a17;
}

#cont-header {
  height: 100vh;
  background-color: #000000;
  background-image: url(../assets/hero_bg.png);
  background-size: 2850px;
  background-position: center;
  background-position-y: 100px;
  background-repeat: no-repeat;
}
#cont-header .showcase-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 20px;
}
#cont-header .showcase-row-text p {
  font-weight: 500;
  color: #fff5fa;
  padding-top: 15px;
  padding-bottom: 20px;
}
#cont-header .showcase-row img {
  width: 450px;
}
#cont-header .container .content {
  padding: 0 80px;
  margin-top: 30px;
  text-align: center;
}
#cont-header .container .content-row {
  display: flex;
  gap: 3em;
}
#cont-header .container .content-row p {
  color: #fff5fa;
  font-weight: 400;
  font-size: 15px;
}
#cont-header .container .content-row img {
  width: 70px;
}

#services {
  height: 100vh;
  background-color: rgba(218, 218, 218, 0.3);
  background-image: url(../assets/noun-responsive-1106197x.svg);
  background-repeat: no-repeat;
  background-size: 350px;
}
#services .showcase {
  padding-top: 50px;
  text-align: center;
}
#services .showcase p {
  padding: 20px 0;
  font-weight: 500;
}
#services .showcase-boxing {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}
#services .showcase-boxing img {
  width: 300px;
}

#suscripcion {
  height: 100vh;
  background-image: url(../assets/mob-psycho.png);
  background-repeat: no-repeat;
  background-size: 600px;
  background-position: right;
  background-position-y: bottom;
}
#suscripcion .slider {
  padding-top: 40px;
  text-align: center;
  background: rgba(218, 218, 218, 0.3);
}
#suscripcion .slider-row {
  display: flex;
  gap: 1em;
  padding: 50px 0;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}
#suscripcion .slider-row img {
  width: 180px;
  height: 270px;
}
#suscripcion .container {
  padding-top: 30px;
  text-align: center;
}
#suscripcion .container p {
  padding-top: 20px;
  padding-bottom: 50px;
  font-weight: 500;
}
#suscripcion .container form {
  text-align: start;
  width: 50%;
  margin: 0 auto;
}
#suscripcion .container form a {
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

#contact .container {
  padding-top: 100px;
  text-align: center;
}
#contact .container p {
  padding-top: 20px;
  font-weight: 500;
}
#contact .container img {
  width: 400px;
}
#contact .text-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 50px 0;
}
#contact .text-row-image {
  width: 120px;
}
#contact .text-row-image2 {
  width: 25px;
}

/*========== PRIMER MEDIA QUERY ==========*/
@media (max-width: 1435px) {
  #services {
    height: 800px;
    background-image: none;
  }
  #services .showcase-boxing {
    gap: 5em;
    padding-top: 80px;
  }
  #services .showcase-boxing img {
    width: 200px;
  }
  #suscripcion {
    background-image: none;
  }
  #contact .container {
    padding-top: 80px;
  }
}
/*========== SEGUNDO MEDIA QUERY ==========*/
@media (max-width: 1250px) {
  #cont-header .showcase-row {
    padding-top: 120px;
  }
  #cont-header .showcase-row-text h1 {
    font-size: 3em;
  }
  #cont-header .showcase-row img {
    width: 250px;
  }
  #cont-header .container .content {
    margin-top: 100px;
  }
  #cont-header .container .content-row img {
    width: 50px;
  }
  #suscripcion .container form {
    width: 70%;
  }
  #contact .container {
    padding-top: 50px;
  }
  #contact .container img {
    width: 300px;
  }
}
/*========== TERCER MEDIA QUERY ==========*/
@media (max-width: 860px) {
  #cont-header .showcase-row {
    padding-top: 80px;
    text-align: center;
    justify-content: center;
  }
  #cont-header .showcase-row img {
    display: none;
  }
  #cont-header .container .content {
    padding: 0 10px;
    margin-top: 30px;
  }
  #cont-header .container .content-row {
    display: grid;
    grid-template-rows: 100px 200px;
    grid-template-columns: 3fr 3fr;
    grid-gap: 4em;
  }
  #cont-header .container .content-row p {
    color: #fff5fa;
    font-weight: 400;
    font-size: 11px;
  }
  #cont-header .container .content-row img {
    width: 40px;
  }
  #services {
    height: 550px;
    background-image: url(../assets/noun-responsive-1106197x.svg);
    background-position: center;
    background-position-y: bottom;
    background-size: 200px;
  }
  #services .showcase {
    padding: 0 20px;
  }
  #services .showcase h2 {
    padding-top: 40px;
  }
  #services .showcase p {
    padding: 30px 0;
  }
  #services .showcase a {
    margin-top: 10px;
  }
  #services .showcase-boxing img {
    display: none;
  }
  #suscripcion {
    background-image: none;
  }
  #suscripcion .slider {
    text-align: center;
    background: rgba(218, 218, 218, 0.3);
  }
  #suscripcion .slider h2 {
    padding: 30px 10px;
  }
  #suscripcion .slider-row {
    gap: 0.5em;
    padding: 30px 0;
    justify-content: left;
  }
  #suscripcion .slider-row img {
    width: 130px;
    height: 220px;
  }
  #suscripcion .container {
    padding-top: 20px;
  }
  #suscripcion .container p {
    padding: 40px 0;
  }
  #suscripcion .container form {
    width: 80%;
  }
  #contact .container {
    padding-top: 30px;
    text-align: center;
  }
  #contact .container img {
    width: 220px;
  }
  #contact .text-row {
    flex-wrap: wrap-reverse;
    text-align: center;
    gap: 2em;
    padding: 50px 10px;
  }
  #contact .text-row-image {
    width: 200px;
  }
  #contact .text-row-image2 {
    width: 35px;
  }
}
@media (max-width: 450px) {
  h1 {
    font-size: 2.5rem;
    letter-spacing: -3px;
  }
  h2 {
    font-size: 2rem;
    letter-spacing: -3px;
  }
  h4 {
    font-weight: 400;
  }
  p {
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.7em;
  }
  #cont-header {
    background-size: 2200px;
    background-position-y: 135px;
    background-position-x: -430px;
  }
  #cont-header .showcase-row {
    padding-top: 5px;
  }
  #suscripcion {
    background-image: none;
  }
  #suscripcion .container form {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
