.btn {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    font-size: 14px;
    padding: 12px 40px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 10px;
}

.btn-dark {
    background: #ff8533;
    border: none;
    opacity: 90%;
    color: #000;

    &:hover {
        opacity: 100%;
        transition: all .3s ease-out;
    }
}