form{
    label{
        display: inline-block;
        margin-bottom: 6px;
        color: #000;
    }

    .form-group{
        margin-bottom: 16px;
    }
    .form-control{
        width: 100%;
        padding: 7px 12px;
        font-size: 1rem;
        border-radius: 15px;
    }
}