@use 'mixinsfunc';

.nav {
    overflow: auto;
    padding: 20px 0;

    &__container {
        @include mixinsfunc.contenedor;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            width: 150px;
        }

        ul {
            font-size: 1em;
            font-weight: 500;
            list-style: none;
            display: inline-flex;
            gap: 1.5rem;

            a {
                color: #ffffff;

                &:hover {
                    color: #ff8533;
                    transition: all .3s ease-out;
                }
            }
        }
    }


    @media(max-width:590px) {
        &__container {
            flex-direction: column;
            gap: 10px;
            padding: 0 10px;

            img {
                width: 150px;
            }
        }
    }


    @media(max-width:450px) {
        &__container {
            gap: 25px;

            ul {
                font-size: .9em;
                gap: .5rem;
            }
        }
    }
}