/*========== PRIMER MEDIA QUERY ==========*/

@media(max-width:1435px) {
    
        h1 {
            font-size: 3em;
        }
    

    //Inicio: Contenido de main

    #services {
        height: 800px;
        background-image: none;

        .showcase {
            &-boxing {
                gap: 5em;
                padding-top: 80px;

                img {
                    width: 200px;
                }
            }
        }
    }


    //Inicio: Contenido de section

    #suscripcion {
        background-image: none;
    }


    //Inicio: Contenido de Footer

    #contact {
        .container {
            padding-top: 80px;
        }
    }
}



/*========== SEGUNDO MEDIA QUERY ==========*/

@media(max-width:1250px) {

    //Inicio: Contenido de header

    #cont-header {
        .showcase-row {
            padding-top: 120px;

            img {
                width: 250px;
            }
        }

        .container {
            .content {
                margin-top: 100px;

                &-row {
                    img {
                        width: 50px;
                    }
                }
            }
        }
    }


    //Inicio: Contenido de section

    #suscripcion {
        .container {
            form {
                width: 70%;
            }
        }
    }


    //Inicio: Contenido de Footer

    #contact {
        .container {
            padding-top: 50px;

            img {
                width: 300px;
            }
        }
    }
}



/*========== TERCER MEDIA QUERY ==========*/

@media (max-width: 860px) {

    //Inicio: Contenido de header

    #cont-header {
        .showcase-row {
            padding-top: 80px;
            text-align: center;
            justify-content: center;

            img {
                display: none;
            }
        }

        .container {
            .content {
                padding: 0 10px;
                margin-top: 30px;

                &-row {
                    display: grid;
                    grid-template-rows: 100px 200px;
                    grid-template-columns: 3fr 3fr;
                    grid-gap: 4em;

                    p {
                        color: $secondary-color;
                        font-weight: 400;
                        font-size: 11px;
                    }

                    img {
                        width: 40px;
                    }
                }
            }
        }
    }



    //Inicio: Contenido de main

    #services {
        height: 550px;
        background-image: url('../assets/noun-responsive-1106197x.svg');
        background-position: center;
        background-position-y: bottom;
        background-size: 200px;

        .showcase {
            padding: 0 20px;

            h2 {
                padding-top: 40px;
            }

            p {
                padding: 30px 0;
            }

            a {
                margin-top: 10px;
            }

            &-boxing {
                img {
                    display: none;
                }
            }
        }
    }


    //Inicio: Contenido de section

    #suscripcion {
        background-image: none;

        .slider {
            text-align: center;
            background: $primary-color;

            h2 {
                padding: 30px 10px;
            }

            &-row {
                gap: .5em;
                padding: 30px 0;
                justify-content: left;

                img {
                    width: 130px;
                    height: 220px;
                }
            }
        }

        .container {
            padding-top: 20px;

            p {
                padding: 40px 0;
            }

            form {
                width: 80%;
            }
        }
    }


    //Inicio: Contenido de Footer

    #contact {
        .container {
            padding-top: 30px;
            text-align: center;

            img {
                width: 220px;
            }
        }

        .text-row {
            flex-wrap: wrap-reverse;
            text-align: center;
            gap: 2em;
            padding: 50px 10px;

            &-image {
                width: 200px;
            }

            &-image2 {
                width: 35px;
            }
        }
    }
}

@media (max-width:591px) {
    #cont-header {
        .showcase-row {
            padding-top: 10px;
        }

        .container {
            .content {
                margin-top: 35px;
            }
        }
    }
}